.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --serch-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: var(--layout-width, 1150px);
    height: 100%;
    padding: 0 var(--default-layout-horizontal-space, 24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action {
    display: flex;
    align-items: center;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 4px 12px;
    display: flex;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}