.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --serch-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: var(--layout-width, 1150px);
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 361px;
    height: var(--search-height, 46px);
    background-color: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    border-radius: var(--search-border-radius, 92px);
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid transparent;

    input {
        font-size: 1.6rem;
        color: var(--black);
        background-color: transparent;
        caret-color: var(--primary-cl);
        height: 100%;
        flex: 1;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: calc(var(--search-height) - var(--serch-top-spacer) * 2);
        top: 9px;
        right: var(--search-button-width, 52px);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear, .loading {
    position: absolute;
    right: calc(var(--search-button-width, 52px) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width, 52px);
    height: 100%;
    border-top-right-radius: var(--search-border-radius, 92px);
    border-bottom-right-radius: var(--search-border-radius, 92px);
    cursor: pointer;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.35);
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

