.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--layout-width, 1150px);
    display: flex;
    padding: 0 24px;
}

.content {
    flex: 1;
}

